#map {
  position: absolute;
  height: 100%;
  width: 100%;
}

.info {
    padding: 10px;
    font: 14px/16px Verdana;
    color: #efefef;
    background: #000000;
    opacity: .8;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 5px;
    color: #d3d3d3;
}
