#map {
  position: absolute;
  height: 100%;
  width: 100%;
}

#container {
  position: absolute;
  top: 572px;
  left: 1px;
  z-index: 1000;
  padding: 5px;
  font: 12px Verdana;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.alignright {
	float: right;
}

.info {
    position: relative;
    padding: 10px;
    font: 12px/14px Verdana;
    color: #efefef;
    background: #595959;
    opacity: .8;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 3px;
}

.info h4 {
    margin: 5px;
    color: #efefef;
}

.legend {
    position: relative;
    top: 85%;
    right: 2%;
    z-index: 1000;
    padding: 5px;
    font: 12px Verdana;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    line-height: 20px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
}


.voterturnoutinfo {
  position: static;
  padding: 10px;
  font: 12px/14px Verdana;
  color: #efefef;
  background: #595959;
  opacity: .8;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.voterturnoutinfo h4 {
    margin: 5px;
    color: #efefef;
}

.stats {
  position: static;
  padding: 10px;
  font: 12px/14px Verdana;
  color: #efefef;
  background: #595959;
  opacity: .8;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.stats h4 {
    margin: 5px;
    color: #efefef;
}

.stats2 {
  position: static;
  padding: 10px;
  font: 12px/14px Verdana;
  color: #efefef;
  background: #595959;
  opacity: .8;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.stats2 h4 {
    margin: 5px;
    color: #efefef;
}

.voterturnoutlegend {
    position: relative;
    top: 85%;
    right: 2%;
    z-index: 1000;
    padding: 5px;
    font: 12px Verdana;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    line-height: 20px;
    color: #555;
}
.voterturnoutlegend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
}
